// From  file with ID in columns to fasta searching on a bigger fasta file
// selecting only sequences and header that have in the header the give ID found in ID file 
// 08/07/2022




// Here are defined params used by this pipeline


params {
	columnids_ID		=	1  		// tells on which column ids are, first = 1
	separator_col_ID	=	false		// field separator used it can be bigger than one digit, default will be tab
	skip_1row_ID		=	true		// to skip or not the first row 
	separator_ids_ID	=	false		// tels the digit separating the IDs in the requested column, default nothing
}


// Here are process specific directive

process {
	withName: fasta_retriever_matchingID {
		publishDir = [
			path: { "${params.OUTPUT_DIR}" },
			mode: 'copy',
			overwrite: false
		]
		container = "python@sha256:fe2971bedd019d952d4458afb1fe4e222ddb810150008c1dee5a068d38bb0e43"	// slim buster
	}
}
