// PDB pipeline configs
// 15/07/2022 


// Here are defined params used by this pipeline


params {

	// Name variables for input  with a suffix of the specific pipeline so no overlap overwritten happens
	query_pdb		=	null				// input file with on each line an pdb ID, it can be a table, so a column is extracted
	dataformat_pdb		=	'pdb'				// what to download, fasta, pdb other miscellaneus files, look at workflows/pdb_downloader.nf for the list of possible ones
	compres_pdb		=	false				// download the compressed version when possibile, default false means no, any other value given from command line will compress the pdb, except of course --compres_pdb false
	fasta_options_pdb	=	'entry'				// changes what is downloaded in fasta format, the whole protein, the domains/entities or the specific chains, the ID type has to be appropriate to what is downlaoded
	one_fastafile_pdb 	=	true				// dowload all fasta sequence in the same file, if false will otput each one to a specific file called ID.fasta, give false to command line othr words will not work
	separator_pdb		=	'\t'				// field separator of the input file
	column_id_pdb		=	1				// column of ID, defoult 1 meaning first 

	GIVEN_PDB_PROFILE	=	true				// just to check if this profile was given from command line, otherwise error message sent
}


// Here are process specific directive 


process {
	withLabel: 'pdb'  {
		container = "alessiovignoli3/tango-project@sha256:57013bf372b519245608c95fd60a38f9e5d65775aaf18c2d711031818c1a145e"	// bash5.0.17 with awk and wget
		scratch = true
		publishDir = [
                        path: { "${params.OUTPUT_DIR}" },
                        mode: 'move',
                        overwrite: false
                ]
		}
}

