params {

	// General paths
	outdir = "/users/cn/lsantus/data/tf/cisbp/data_pbm_train"
	dataset_dir="/users/cn/lsantus/"


	testfam="F091_2.00,F212_2.00,F201_2.00"
	testfam="F278_2.00,F091_2.00,F212_2.00,F201_2.00"
	testfam="F212_2.00,F201_2.00"

	//motifs_features = "/users/cn/sjin/projects/tf/3dTF/data/cisbp/data_pbm_train/{$params.testfam}*/motif_features.tab"
	motifs_features = "/users/cn/sjin/projects/tf/3dTF/data/cisbp/data_pbm_train/{$params.testfam}*/motif_features.tab"

	structures_db = "${params.outdir}/{$params.testfam}*/colabfold_header/**/*.pdb"

	// alignment
	align_method = "3DCOFFEE"

	//evaluation
	evaluation_metric = "irmsd"


	//irmsd thresholds
	//local_radius_thresholds = "10,20"
	local_radius_thresholds = "10"
}
