// config file for Singularity specificities

singularity {
	enabled = true
	cacheDir = "./singularity_cache/"         			// the directory whre the singularity dirs should be create
	envWhitelist = "SINGULARITYENV_PYTHONPATH=${projectDir}/bin/pylib:${baseDir}/bin"         // importing inside py script sorted
}
