// sr_jaspar process/pipeline config
// 31/01/2023


// other mandatory config file for this pipeline

includeConfig 'uniprot_sparql_query.config'



// Here are defined params used by this pipeline


params {

        // Name variables for input  with a suffix of the specific pipeline so no overlap overwritten happens
	query_sr			=	null		//input fasta file with one or more sequences in it
	out_name_sr			=	null		//output filename 
	GIVEN_JASPAR_PROFILE		=	true		//just to check if this profile was given from command line, otherwise error message sent

}


// Here are process specific directive

process {
        withLabel: 'sr_jaspar'  {
		container = "alessiovignoli3/3dtf:sr_jaspar"	// dockerfile at Dockerfiles/sr_jaspar/Dockerfile
		}
	withName: 'sr_input_handler:sprql_querier:uniprot_to_pdb' {
		publishDir = [
                                path: { "${workDir}" },
                                mode: 'copy',
                                overwrite: false,
				]
		}
}


// Special section for singularity that solves import problems of the script

singularity {
	envWhitelist = "SINGULARITYENV_APPEND_PATH=/usr/local/JASPAR-SR"	// the location inside the container where the github dir with all sr jaspar scripts are
}
