// TEST config files
// 13/07/2022

// process {
// 	queue     = 'short-sl7'
// 	cpus      = 1
// 	memory    = '4.GB'
// 	time      = '30.min'
// }


params { 

    help                = false                                 
    OUTPUT_DIR          = "${baseDir}/test/test_3d_20230131"  
    INPUT_DIR           = "${baseDir}/data"                   
    input_train_dir     = "${INPUT_DIR}/cisbp/test/train_data"  
    input_test_dir      = "${INPUT_DIR}/cisbp/test/test_data"
    run_heldout         = false   

    input_dbd_fasta     = "${INPUT_DIR}/dbd/{GATA,zf-C4,bZIP_1}/*.fasta"              // Unaligned motif feature sequences in fasta format
    input_dbd_hmm       = "${INPUT_DIR}/hmm/hmm_paper/{GATA,zf-C4,bZIP_1}/*.hmm"      // DBD hmm profile 
         

}