// from file with uniprot IDs query of uniprot using SPARQL rest api
// retrieving if present pdb ID , chain, start-end information associaated to such uniprot entry
// 14/02/2023





// Here are defined params used by this pipeline


params {
	idfile_UN		=	null		// input id file with same unique column separator
        column_UN               =       1               // tells on which column ids are, first = 1
        separator_col_UN        =       false           // field separator used it can be bigger than one digit, default will be tab
        skip_1row_UN            =       true            // to skip or not the first row
	//publish_UN		=	true		// flag to tell the pipeline whether to publish the file to OUTPUT_DIR, default true aka publish
	GIVEN_SPARQL_PROFILE	=	true		 //just to check if this profile was given from command line, otherwise error message sent

}


// Here are process specific directive

process {
	withLabel: 'sparql_query' {
		container = "alessiovignoli3/3dtf:sparql_quey"	// python 3.9 rdflib
		publishDir = [
				path: { "${params.OUTPUT_DIR}" },
				mode: 'copy',
				overwrite: true,
				//saveAs: { filename -> if (params.publish_UN == true) filename
                                //                                                else null
                                //                                                }
                ]
	}
}
